<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>基分撲蝶會活動網站</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="short Icon" type="images/x-icon"
	th:href="@{/images/ball.png}">
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/introduce.css}">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
	src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
</head>

<body>


	<!--導覽列==========================================================================-->

	<div th:replace="header::nav-header"></div>
	<br>

	<!--主題圖片===================================================================-->
	<div th:replace="lightbox::lightbox"></div>

	<!--內容區===================================================================-->
	<div class="container content">
		<!--錯誤訊息，及提醒視窗================================================================-->
		<div th:replace="show_message::show_message"></div>
		<!--功能及麵包屑==========================================-->
		<div th:replace="breadcrumb::breadcrumb"></div>

			
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="function">
						<h2>&nbsp;關於我們</h2>
						<pre th:text="${theSystem.sysCon}" class="intr_content"></pre>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" th:if="${theSystem.sysData != null}">
					<div class="function">
						<h2>youtube影片:</h2>
                        <iframe id="youtube" th:src="${'https://www.youtube.com/embed/'+theSystem.sysData}" 
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>					
                    </div>
				</div>
			</div>


	</div>



	<!--底部平台介紹================================================================-->
	<div th:replace="footer::footer"></div>


    <script th:src="@{/js/show_message.js}"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>