.content{
  background-color: #f1f1f1; 
} 

.avt_title{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 10px;
  padding:3px;
  background-color: white; 
}

.avt_type{
  text-align: center;
  color: grey;
}

.avt_item_img{
  width: 100%;
}

.avt_detail{
  margin-top: 20px;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  background-color: white; 
}

.avt_introduce{
	font-size:16px;
	word-wrap:break-word;
	white-space: pre-wrap;
	border:none
}


/*小螢幕(ex:iphone)*/
@media only screen and (max-width: 600px){
  .content{
  padding:20px;
  }
}

/* 留言板 */
/* .border-bottom { border-bottom: 1px solid #e5e5e5; } */

.message_member{
  padding: 15px;
}

.avt_message{
  word-wrap:break-word;
 /*  border-bottom: 1px solid #e5e5e5; */
}

.avt_message_pre{
	font-size:16px;
	word-wrap:break-word;
	white-space: pre-wrap
}

.avt_message_response{
  word-wrap:break-word;
  background-color: blanchedalmond;
  border-radius:10px;
  padding: 5px;
}

.message_response_add{
  border-radius:10px;
  width: 100%;
}

.message_time{
  color: grey;
}

.face_message{
  width: 120%;
}

.face_message_response{
  width: 100%;
}

/*小螢幕(ex:iphone)*/
@media only screen and (max-width: 600px){

  .face_message_response{
    width: 60px;
  }
}

/*---------星號評分---------*/

.starts {
  padding-left: 16px;
  padding-top: 7px;
}


.starts div label {
  color:orange;
}

/* ---------------活動宣傳-------------------- */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.ad:after {
  content: "";
  display: table;
  clear: both;
  scroll-padding-left: 10px;
}

/* Six columns side by side */
.column {
  width: 90%;
}

.avt_detail_littleman{
     display:block;
}

/*小螢幕(ex:iphone)*/
@media only screen and (max-width: 600px){
  .column {
    width: 20%;
    float:left;
  }
  .avt_detail_littleman{
     display:none;
  }
}
/*中螢幕(ex:ipad)*/
@media only screen and (max-width: 768px) and (min-width: 601px){
  .column {
    width: 20%;
    float:left;
  }
  .avt_detail_littleman{
     display:none;
  }
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* ==================================avt-item-apply.html================================= */
.other_data{
	width:20%;
}

/*小螢幕(ex:iphone)*/
@media only screen and (max-width: 600px){

  .other_data{
	width:100%;
  }
}