  /* ------------------table響應式----------------- */

/*額外做顏色，沒有什麼意義*/
tr.tr-only-hide {
  color: black;
  
}
th{
  background-color: rgb(241, 215, 181);
}

@media (max-width: 736px) {
  .table-rwd{min-width: 100%;}
  /*針對tr去做隱藏*/
  tr.tr-only-hide {display: none !important;}
  /*讓tr變成區塊主要讓他有個區塊*/
  .table-rwd tr{
    display: block;
    border: 1px solid #ddd;
    margin-top: 5px;
  }
  .table-rwd td {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    display: block;
    }
    .table-rwd td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
      margin-right: 10px;
    color: #e4a00f;
  }
  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  
}



/* -----new.html--和--update.html----- */
.man_avt_title{
    text-align: center;
    margin-bottom: 30px;
}

.form-control{
    width: 85%;
}

.short{
    width: 41%;
    display:inline;
}

.man_avt_conrent{
    padding-left: 4%;
}

.man_avt_img{
	padding-left: 12%;
}

#activity_img{
	width:100%;
}

/*小螢幕(ex:iphone)*/
@media only screen and (max-width: 600px){
    .short{
        width: 80%;
    }
    .man_avt_conrent{
        padding-left: 15px;
    }
    .man_avt_img{
	padding-left: 8%;
    }

    .introduce{
      width: 100%;
    }
    #activity_img{
	width:100%;
    }
  }

  .control-label{
    text-align: left
  }
