<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--麵包屑==========================================-->
<body>

	<div th:fragment="breadcrumb">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<ul class="breadcrumb">
					<li th:each="bread: ${breadcrumbs}">
						<a th:href="@{(${bread.link})}" th:text="${bread.name}" th:if="${bread.link}"></a>
						<label style="font-weight:normal;" th:text="${bread.name}" th:if="not${bread.link}"></label>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>