<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--底部平台介紹================================================================-->
<body>

	<div th:fragment="footer">
		<footer>
			<div class="container" id="footer_computer">
				<div class="col-sm-1 col-xs-2">
					<img th:src="@{/images/ball.png}" width="100%">
				</div>
				<div class="col-sm-1 col-xs-1"></div>
				<div class="col-sm-3 col-xs-3">
					<h5 class="footer_introduce">© 版權所有 轉載必究・</h5>
				</div>
				<div class="col-sm-3 col-xs-3">
					<h5 class="footer_introduce">系統開發: JENNY HSU</h5>
				</div>
				<div class="col-sm-3 col-xs-3">
				    <h5 class="footer_introduce">信箱: j43343@gmail.com</h5>
				</div>
			</div>
			<div class="container" id="footer_phone">
				<div class="row">
				<div class="col-xs-4">
				<br>
					<img th:src="@{/images/ball.png}" width="100%">
				</div>
				<div class="col-xs-8">
					<h5 class="footer_introduce">© 版權所有 轉載必究・</h5>
					<h5 class="footer_introduce">系統開發: JENNY HSU</h5>
				    <h5 class="footer_introduce">信箱: j43343@gmail.com</h5>
				</div>
				</div>
			</div>
		</footer>
	</div>

</body>

</html>