<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--功能列(麵包屑上面)==========================================-->
<body>

  <div th:fragment="fuctionList">
    <div class="row">
      <div class="col-md-12 col-sm-12 show_list">
        <ul class="nav nav-pills">
          <li th:each="func: ${fuctions}">
            <a th:href="@{(${func.link})}" class="show" style="background-color:#eee" th:if="not${func.link}"><b
                th:text="${func.name}"></b></a>
            <a th:href="@{(${func.link})}" class="show" th:if="${func.link}"><b th:text="${func.name}"></b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>