<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>基分撲蝶會活動網站</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/manger_activity.css}">
  <link rel="stylesheet" th:href="@{/css/cropper/cropper.css}">
  <link rel="stylesheet" th:href="@{/css/cropper/cropper_main.css}">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
   <!-- Spring Security5中默認開啟了CSRF保護，因此提交驗證表單時，必須附帶Token信息 -->
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>


	<!--導覽列==========================================================================-->

	<div th:replace="header::nav-header"></div>
	<br>

	<!--主題圖片===================================================================-->
	<div th:replace="lightbox::lightbox"></div>

	<!--內容區===================================================================-->
	<div class="container content">
		<!--功能及麵包屑==========================================-->
		<div th:replace="breadcrumb::breadcrumb"></div>
    <!--新增活動==========================================-->
    <div class="row">
      <h2 class="man_avt_title">活動圖片</h2>
    </div>
      <form class="form-horizontal" method="post" th:action="@{/manager/activityManagement/editNext/save}" th:object="${activityDTO}">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="form-group ">
            <div class="man_avt_img">
            
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <h3><b>活動主題照片:</b></h3>
                </div>
                <div class="text-left">
                  <button id="btnStartShotImage" type="button" class="btn btn-primary" 
                          style="background-color: #DDDDDD; color: black">我的圖片</button>
                  <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg">下載圖片</a>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div id="show_pic">
                       <img th:src="@{(${activityDTO.activity.avtImg})}" id="activity_img" alt="">
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Show the cropped image in modal -->
                <div class="modal fade docs-cropped" id="getCroppedCanvasModal" role="dialog" aria-hidden="true"
                  aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="getCroppedCanvasTitle">裁剪完成</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">確定</button>
                        <a class="btn btn-primary" id="download" href="javascript:void(0);"
                          download="cropped.jpg">下載圖片</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.modal -->
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <!--弹出框-->
                  <div class="modal fade" id="myModal" aria-hidden="true" aria-labelledby="avatar-modal-label"
                    role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" id="modal-dialog-pic">
                      <div class="modal-content">
                        <div class="modal-header">

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h1 class="modal-title" id="myModalLabel" style="font-size:20px;">裁取圖片</h1>
                        </div>
                        <div class="modal-body">

                          <div class="row" id="actions">
                            <div class="col-md-12 col-sm-12 docs-buttons">
                              <!-- <h3>Toolbar:</h3> -->

                              <div class="btn-group">
                                <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                                  <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                                  <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
                                    <span class="fa fa-upload"></span>上傳圖片
                                  </span>
                                </label>
                              </div>


                              <div class="btn-group btn-group-crop">
                                <button type="button" class="btn btn-success" data-method="getCroppedCanvas"
                                  data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }"
                                  id="getPicture">
                                  <span class="docs-tooltip" data-toggle="tooltip"
                                    title="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })">
                                    裁剪
                                  </span>
                                </button>
                              </div>


                            </div><!-- /.docs-buttons -->

                            <div class="col-md-3 docs-toggles">
                            </div><!-- /.docs-toggles -->
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <!-- <h3>Demo:</h3> -->
                              <div class="img-container" id="full_image">
                                <img th:src="@{/images/noPic.gif}" alt="Picture">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-1 col-sm-12">
                              <div class="btn-group d-flex flex-nowrap" data-toggle="buttons">
                                <label class="btn btn-default active">
                                  <input type="radio" class="sr-only" id="viewMode0" name="viewMode" value="0" checked>
                                  <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 0">
                                    view model
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- <div class="modal-footer">
                    <div class="col-md-12 text-right">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                  </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="man_avt_conrent">
          <div class="col-md-12 col-sm-12">
            <h3><b>活動宣傳照片:</b></h3>
            <font color='grey'>請照順序選擇圖片，中間誤留空．</font><br><br>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">圖片1</label>
              <span><button type="button" class="btn btn-primary btn-xs" onclick="deletePicture('1')">刪除</button></span>
              <br><br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input type="file" class="form-control" name="confirm" id="uplImg1" placeholder="" />
                  <div>
                      <img class="img1 img-responsive center-block" th:src="@{(${activityDTO.activity.advocates[0].advImg})}" 
                           width="100%" th:if="${advocate_count >=1}" id="img_uplImg1">
                      <img class="img1 img-responsive center-block" th:if="${advocate_count < 1}" id="img_uplImg1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">圖片2</label>
              <span><button type="button" class="btn btn-primary btn-xs" onclick="deletePicture('2')">刪除</button></span>
              <br><br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input type="file" class="form-control" name="confirm" id="uplImg2" placeholder="" />
                  <div>
                      <img class="img2 img-responsive center-block" th:src="@{(${activityDTO.activity.advocates[1].advImg})}" 
                           width="100%" th:if="${advocate_count >=2}" id="img_uplImg2">
                      <img class="img2 img-responsive center-block" th:if="${advocate_count < 2}" id="img_uplImg2">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">圖片3</label>
              <span><button type="button" class="btn btn-primary btn-xs" onclick="deletePicture('3')">刪除</button></span>
              <br><br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input type="file" class="form-control" name="confirm" id="uplImg3" placeholder="" />
                  <div>
                      <img class="img3 img-responsive center-block" th:src="@{(${activityDTO.activity.advocates[2].advImg})}" 
                           width="100%" th:if="${advocate_count >=3}" id="img_uplImg3">
                      <img class="img3 img-responsive center-block" th:if="${advocate_count < 3}" id="img_uplImg3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">圖片4</label>
              <span><button type="button" class="btn btn-primary btn-xs" onclick="deletePicture('4')">刪除</button></span>
              <br><br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input type="file" class="form-control" name="confirm" id="uplImg4" placeholder="" />
                  <div>
                      <img class="img4 img-responsive center-block" th:src="@{(${activityDTO.activity.advocates[3].advImg})}" 
                           width="100%" th:if="${advocate_count >=4}" id="img_uplImg4">
                      <img class="img4 img-responsive center-block" th:if="${advocate_count < 4}" id="img_uplImg4">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">圖片5</label>
              <span><button type="button" class="btn btn-primary btn-xs" onclick="deletePicture('5')">刪除</button></span>
              <br><br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input type="file" class="form-control" name="confirm" id="uplImg5" placeholder="" />
                  <div>
                      <img class="img5 img-responsive center-block" th:src="@{(${activityDTO.activity.advocates[4].advImg})}" 
                           width="100%" th:if="${advocate_count >=5}" id="img_uplImg5">
                      <img class="img5 img-responsive center-block" th:if="${advocate_count < 5}" id="img_uplImg5">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12"></div>
        </div>
      </div>
      <div class="row">
          <div class="man_avt_conrent">
             <button class="btn btn-primary" type="button"
                  style="background-color: #DDDDDD; color: black" onclick="saveAllPicture()">更新及上傳圖片</button>
             <font color='red'>「活動主題照片」和「活動宣傳照片」選擇完成，及裁剪後，點選「更新及上傳圖片」。</font><br>
          </div>
      </div>
      <br><br>
      <div class="row">
          <div style="padding-left: 5%">
             <div class="form-group" th:if="${activityDTO.avtEdit =='on' || activityDTO.avtEdit == null}">           
              <input type="checkbox" name="avtEdit" th:checked="${activityDTO.avtEdit =='on'}">&nbsp;&nbsp;此活動儲存成草稿
            </div>
          </div>
      </div>
      <br><br>
      <div class="row">
        <div align="center">
          <button type="submit" class="btn btn-success">存檔</button>
        </div>
      </div>
    </form>

  </div>



  <!--底部平台介紹================================================================-->
<div th:replace="footer::footer"></div>



  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="@{/js/sticker.js}"></script>
  <script th:src="@{/js/cropper/cropper.js}"></script>
  <script th:src="@{/js/cropper/cropper_main.js}"></script>
  <script th:src="@{/js/cropper/cropper_display.js}"></script>
  <script th:src="@{/js/manager-activity-new.js}"></script>
  <script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var header = $("meta[name='_csrf_header']").attr("content");
		var token = $("meta[name='_csrf']").attr("content");
		
		//圖片驗證，更新及存檔
		function saveAllPicture() {
		
		    var check=validate();
		
		    if(check==true){
		
			saveImg();
			
			saveAdv("1");
			saveAdv("2");
			saveAdv("3");
			saveAdv("4");
			saveAdv("5");
			
			alert('您的活動圖片已經上傳成功');
		    }

		}

        //活動主題圖片存檔
		function saveImg() {

			const canvas = document.querySelector("#show_pic > canvas");
			if (canvas == null) {
				return;
			}

			// 建立 file，
			const dataURL = canvas.toDataURL('image/jpg')
			const blobBin = atob(dataURL.split(',')[1])
			const array = [];
			for (let i = 0; i < blobBin.length; i++) {
				array.push(blobBin.charCodeAt(i));
			}
			const file = new Blob([new Uint8Array(array)], { type: 'image/jpg' });

			// 將file 加至 formData
			const formData = new FormData()
			formData.append('file', file, [[${ activityDTO.avtImgDTO.avtImg }]]);

			// send ajax request 
			// Spring Security5中默認開啟了CSRF保護，因此提交驗證表單時，必須附帶Token信息
			fetch('/badminton/manager/activityManagement/editNext/saveImg', {
				method: 'POST',
				body: formData,
				headers: {
					'X-CSRF-TOKEN': token
				}
			}).then(res => res.text())
				.then(resText => console.log('您的活動照片已成功上傳'))


		}
		
		//活動宣傳圖片存檔
		//picNo:當待儲存第No筆
		function saveAdv(picNo) {
            //此檔案
			const file = $("#uplImg"+picNo)[0].files[0];
			
			if(file==undefined){
				return;
			}
			
			const formData = new FormData();

			switch (picNo) {
			case '1':
			　    formData.append('file', file, [[${ activityDTO.avtImgDTO.uplImg1 }]]);
			　    break;
			case '2':
			　    formData.append('file', file, [[${ activityDTO.avtImgDTO.uplImg2 }]]);
			　    break;
			case '3':
				　formData.append('file', file, [[${ activityDTO.avtImgDTO.uplImg3 }]]);
				　break;
			case '4':
				　formData.append('file', file, [[${ activityDTO.avtImgDTO.uplImg4 }]]);
				　break;
			case '5':
				　formData.append('file', file, [[${ activityDTO.avtImgDTO.uplImg5 }]]);
				　break;
			default:
			}
			
			fetch('/badminton/manager/activityManagement/editNext/saveAdv', {
				method: 'POST',
				body: formData,
				headers: {
					'X-CSRF-TOKEN': token
				}
			}).then(res => res.text())
				.then(resText => console.log('您的活動宣傳照片'+picNo+'已成功上傳'));
			
		}
		
		//驗證圖片(活動宣傳圖片是否照順序上傳)
		function validate() {
		
		    var imgSrc1=document.getElementById("img_uplImg1").getAttribute("src");		    
		    var imgSrc2=document.getElementById("img_uplImg2").getAttribute("src");	    
		    var imgSrc3=document.getElementById("img_uplImg3").getAttribute("src");		    
		    var imgSrc4=document.getElementById("img_uplImg4").getAttribute("src");
		    var imgSrc5=document.getElementById("img_uplImg5").getAttribute("src");
		    
		    
		    if(!empty(imgSrc5) && (empty(imgSrc1) || empty(imgSrc2) || empty(imgSrc3) || empty(imgSrc4))){
		       alert('活動宣傳圖片請照順序上傳');
		       return false;
		    }
		    if(!empty(imgSrc4) && (empty(imgSrc1) || empty(imgSrc2) || empty(imgSrc3))){
		       alert('活動宣傳圖片請照順序上傳');
		       return false;
		    }
		    if(!empty(imgSrc3) && (empty(imgSrc1) || empty(imgSrc2))){
		       alert('活動宣傳圖片請照順序上傳');
		       return false;
		    }
		    if(!empty(imgSrc2) && empty(imgSrc1)){
		       alert('活動宣傳圖片請照順序上傳');
		       return false;
		    }
		    
		    return true;
		    
		}
		
		function empty(element) {
		    if(element==null || element==''){
		       return true;
		    }else{
		       return false;
		    }
		}
		
		//刪除活動宣傳圖
		function deletePicture(picNo) {
			if (!(confirm('您確認要刪除圖片'+picNo+' ?'))){
				return false;
			} 
			//此張圖片的src
			var imgId=document.getElementById("img_uplImg"+picNo);
			var imgSrcThis=imgId.getAttribute("src");
			var imgSrcNext;
			if(parseInt(picNo)<5){
				imgSrcNext=document.getElementById("img_uplImg"+(parseInt(picNo)+1)).getAttribute("src");
			}else{
				imgSrcNext=null;
			}
			
			if(empty(imgSrcThis)){
				alert('您未上傳圖片');
				return;
			}
			
			if(!empty(imgSrcNext)){
				alert('請依照順序刪除(由序號大至序號小，中間不留空)');
				return;
			}
			
			imgId.setAttribute("src","");
			 //此檔案
			const file = $("#uplImg"+picNo)[0].files[0];
		    document.getElementById("uplImg"+''+picNo).value='';
		    
		    var fileName;
		    
			switch (picNo) {
			case '1':
			　    fileName=[[${ activityDTO.avtImgDTO.uplImg1 }]];
			　    break;
			case '2':
			　    fileName=[[${ activityDTO.avtImgDTO.uplImg2 }]];
			　    break;
			case '3':
				　fileName=[[${ activityDTO.avtImgDTO.uplImg3 }]];
				　break;
			case '4':
				　fileName=[[${ activityDTO.avtImgDTO.uplImg4 }]];
				　break;
			case '5':
				　fileName=[[${ activityDTO.avtImgDTO.uplImg5 }]];
				　break;
			default:
			}
		    
		    const formData = new FormData();
		    
			if(file!=undefined){ 			
				
				formData.append('file', file, fileName);
			
				fetch('/badminton/manager/activityManagement/editNext/deleteImgAdv', {
					method: 'POST',
					body: formData,
					headers: {
						'X-CSRF-TOKEN': token
					}
				}).then(res => res.text())
					.then(resText => console.log('您的活動宣傳照片'+picNo+'已成功刪除'));
			
			 }else if(file==undefined && imgSrcThis!=null){
			 
				formData.append('fileName', fileName);
				
				 fetch('/badminton/manager/activityManagement/editNext/deleteImgModify', {
					method: 'POST',
					body: formData,
					headers: {
						'X-CSRF-TOKEN': token
					}
				}).then(res => res.text())
					.then(resText => console.log('您的活動宣傳照片'+picNo+'已成功刪除'));
			 }
		}
		
	


		/*]]>*/
	</script>

</body>

</html>