<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>基分撲蝶會活動網站</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/manger_activity.css}">
  <link rel="stylesheet" th:href="@{/css/cropper/cropper.css}">
  <link rel="stylesheet" th:href="@{/css/cropper/cropper_main.css}">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>

</head>

<body>


	<!--導覽列==========================================================================-->

	<div th:replace="header::nav-header"></div>
	<br>

	<!--主題圖片===================================================================-->
	<div th:replace="lightbox::lightbox"></div>

	<!--內容區===================================================================-->
	<div class="container content">
		<!--功能及麵包屑==========================================-->
		<div th:replace="breadcrumb::breadcrumb"></div>
		<!--錯誤訊息，及提醒視窗================================================================-->
		<div th:replace="show_message::show_message"></div>
    <!--新增活動==========================================-->
    <div class="row">
      <h2 class="man_avt_title" th:text="${activityDTO.addOrEdit}"></h2>
    </div>
    <form class="form-horizontal" method="post" th:action="@{/manager/activityManagement/editNext}" th:object="${activityDTO}">
      
      <input type="hidden" th:field="*{addOrEdit}" />
      <input type="hidden" th:field="*{activity.avtNo}" />
    
      <div class="row">
        <input type="button" name="" onclick="test()" value="假資料">
        <div class="col-md-6 col-sm-12">
          <div class="member_data">

            <div class="form-group">
              <label class="control-label col-sm-3">
                <font color='red'>*</font>&nbsp;活動名稱:
              </label>
              <div class="col-sm-9">
                <input type="text" th:field="*{activity.avtName}" class="form-control" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">
                <font color='red'>*</font>&nbsp;活動類型:
              </label>
              <div class="col-sm-9">
                <select th:field="*{activity.activityType.avtTypeNo}">
					<option value="0">請選擇</option>
					<option th:each="avtType: ${activitieTypes}" th:value="${avtType.avtTypeNo}" th:text="${avtType.avtTypeName}"/>
				</select> &nbsp;&nbsp;
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="date">
                <font color='red'>*</font>&nbsp;活動日期：
              </label>
              <div class="col-sm-9">
                <input type="date" class="form-control short" th:field="*{activityDateS}" required/>&nbsp;至&nbsp;
                <input type="date" class="form-control short" th:field="*{activityDateE}" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="date">
                <font color='red'>*</font>&nbsp;集合時間：
              </label>
              <div class="col-sm-9">
                <input type="datetime-local" class="form-control " th:field="*{avtGatDate}" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="phone">
                <font color='red'>*</font>&nbsp;集合地點:
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{activity.avtLoc}" required/>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">
                <font color='red'>*</font>&nbsp;活動費用:
              </label>
              <div class="col-sm-9">
                <input type="number" class="form-control short" min="0" th:field="*{activity.avtPrice}"/>
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-sm-3" for="date">
                <font color='red'>*</font>&nbsp;活動截止：
              </label>
              <div class="col-sm-9">
                <input type="date" class="form-control short" th:field="*{avtCutDate}" required/>
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-md-6 col-sm-12">

            <div class="form-group">
              <label class="control-label col-sm-4">
                &nbsp;活動名額(上限/下限):
              </label>
              <div class="col-sm-8" th:if="${activityDTO.activity.avtPre==0}">
                  <input type="number" class="form-control short" min="1" th:field="*{activity.avtUpp}"/>&nbsp;/&nbsp;
                  <input type="number" class="form-control short" min="1" th:field="*{activity.avtLow}"/>
              </div>
              <div class="col-sm-8" th:if="${activityDTO.activity.avtPre==1}">
                  <input type="number" class="form-control short" min="1" th:field="*{activity.avtUpp}" readOnly/>&nbsp;/&nbsp;
                  <input type="number" class="form-control short" min="1" th:field="*{activity.avtLow}" readOnly/>
              </div>
            </div>
            
            <div class="form-group">     
                <div class="col-md-offset-1 col-xs-offset-1">      
                   <input type="checkbox" name="enableFriend" th:checked="${activityDTO.enableFriend =='on'}" onclick="getFriend()">&nbsp;&nbsp;可攜帶親友參加
                </div>
            </div>
            
            <div class="form-group" id="needFriendData">     
                <div class="col-md-offset-1 col-xs-offset-1">      
                   <input type="checkbox" name="friendData" th:checked="${activityDTO.friendData =='on'}">&nbsp;&nbsp;需要親友資料
                </div>
            </div>

            <div class="form-group" th:if="${activityDTO.activity.avtPre==0}">
              <label class="control-label col-sm-4" for="date">
                其他需要的報名資料：
              </label>
              <div class="col-sm-8">
                <div class="row">
                  <button type="button" id="add_item" class="btn btn-info btn-xs">新增項目</button>
                </div>
              </div>
            </div>
            <div class="form-group" th:if="${activityDTO.activity.avtPre==0}">
              <div class="col-sm-1"></div>
              <div class="col-sm-11">
                <div id="start_item" th:each="oth,o: *{otherDatas}">
                  <div class="item_data">
                    <input type="text" class="form-control short input_item" th:field="*{otherDatas[__${o.index}__]}"/>&nbsp;
                    <button type="button" class="btn btn-info btn-xs btn_del">刪除項目</button>
                  </div>
                </div>
                <br>
              </div>
            </div>
            
            <div class="form-group" th:if="${activityDTO.activity.avtPre==1}">
              <label class="control-label col-sm-4" for="date">
                其他需要的報名資料：
              </label>
              <div class="col-sm-11">
                <div id="start_item" th:each="oth,o: *{otherDatas}">
                  <div class="item_data">
                    <input type="text" class="form-control short input_item" th:field="*{otherDatas[__${o.index}__]}" readOnly/>&nbsp;
                  </div>
                </div>
                <br>
                <font color='grey'>活動審核通過後，「活動名額」及「其他需要的報名資料」不得修改。</font><br>
              </div>
            </div>

        </div>
        

      </div>
      <div class="row">
        <div class="man_avt_conrent">
          <div class="col-offset-1 col-md-11 col-sm-12">
            <h3><b>介紹:</b></h3>
          </div>
          <div class="col-offset-1 col-md-11 col-sm-12">
            <div class="form-group">
              <textarea class="form-control" rows="5" cols="100%" placeholder="想說的話..." th:field="*{activity.avtIntr}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="man_avt_conrent">
          <div class="col-md-12 col-sm-12">
            <h3><b>備註:</b></h3>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <textarea class="form-control" rows="5" cols="100%" placeholder="想說的話..." th:field="*{activity.avtMemo}"></textarea>
            </div>
          </div>
        </div>
      </div>
 
      <br><br>
      <div class="row">
        <div align="center">
          <button type="submit" class="btn btn-success" data-dismiss="modal">下一步</button>
        </div>
      </div>
    </form>

  </div>



  <!--底部平台介紹================================================================-->
<div th:replace="footer::footer"></div>



  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="@{/js/manager-activity-new.js}"></script>
  <script type="text/javascript">
       function test() {
    	    document.getElementById("activity.avtName").value = "滿月圓步道健行";	
			document.getElementById("activity.activityType.avtTypeNo").value = '3';
			document.getElementById("activityDateS").value = "2019-12-14";	
			document.getElementById("activityDateE").value = "2019-12-14";	
			document.getElementById("avtGatDate").value = "2019-12-14T06:50";	
			document.getElementById("activity.avtLoc").value = "永寧捷運站4號出口";	
			document.getElementById("activity.avtPrice").value = "200";	
			document.getElementById("avtCutDate").value = "2019-12-07";	
			document.getElementsByName("enableFriend")[0].checked = true;
			document.getElementById("needFriendData").style.display = "block";
			document.getElementsByName("friendData")[0].checked = true;
			document.getElementById("activity.avtUpp").value = "8";	
			document.getElementById("activity.avtLow").value = "3";	
			document.getElementById("otherDatas0").value = "葷素";	
			document.getElementById("activity.avtIntr").value = "滿月圓國家森林遊樂區總面積達1573公頃，海拔約為300至1728公尺之間，四周為滿月圓山、熊空南山、北插天山、拉卡山、東眼山等山環繞。 ... 園內有著大豹溪上游的蚋仔溪，在園區內沖刷出滿月圓瀑布、處女瀑布等壯闊的瀑布景觀。";
			document.getElementById("activity.avtMemo").value = "請背小背包，穿著運動服裝，運動鞋，現金、健保卡、悠遊卡加值300、午餐、行動水、行動糧、雨衣、禦寒衣物、帽子、鹽巴等等";
       }
       
  </script>

</body>

</html>