<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>基分撲蝶會活動網站-忘記密碼</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/register.css}">


	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
	<!-- Spring Security5中默認開啟了CSRF保護，因此提交驗證表單時，必須附帶Token信息 -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<body>


	<div class="container">

		<div class="col-md-3 col-sm-12"></div>
		<div class="col-md-6 col-sm-12">
			<form th:action="@{/getNewPassword}" method="post" class="form-horizontal bg-img">
				<h1 class="login_title">基分撲蝶會活動網站</h1>
				<h1 class="login_title">忘記密碼</h1>

				<!--錯誤訊息，及提醒視窗==================================================-->
				<div th:replace="show_message::show_message"></div>

				<div class="form-group">

					<label class="control-label col-sm-2" for="email">
						<font color='red'>*</font>&nbsp;帳號:
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="user" id="user" placeholder="輸入你的帳號"/>
					</div>
				</div>


				<div class="form-group " align="center">
					<button type="submit" class="btn btn-success btn-lg btn-block login-button" style="width:70%">送出</button>
				</div>
			</form>
		</div>
		<div class="col-md-3 col-sm-12"></div>

	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{/js/show_message.js}"></script>
</body>

</html>