<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>基分撲蝶會活動網站-登入</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
  <link rel="stylesheet" th:href="@{/css/login.css}">

  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
</head>


<body>


  <div class="container">
     <!--錯誤訊息，及提醒視窗================================================================-->
	<div th:replace="show_message::show_message"></div>

    <div class="col-md-4 col-sm-12">
      <br>待加入會員：
      <input type="button" name="" onclick="login5()" value="加七" style="background-color:#CCEEFF">
      <input type="button" name="" onclick="login6()" value="大同" style="background-color:#CCEEFF"> 
      <br>管理員：
      <input type="button" name="" onclick="login2()" value="瑪麗" style="background-color:#CCEEFF">
      <input type="button" name="" onclick="login3()" value="湯姆" style="background-color:#CCEEFF">      
      <input type="button" name="" onclick="login1()" value="約翰" style="background-color:#CCEEFF">
      <br>超級管理員：
      <input type="button" name="" onclick="login4()" value="溫尼" style="background-color:#CCEEFF">
    </div>
    <div class="col-md-3 col-sm-12"></div>
    <div class="col-md-5 col-sm-12">
      <form th:action="@{/login}" method="POST" class="bg-img">
        <h1 class="login_title">基分撲蝶會活動網站</h1>
        <h1 class="login_title">登入</h1>
        <label for="email" class="login_label"><b>帳號</b></label>
        <input type="text" placeholder="請輸入帳號..." name="username" id="username" required>

        <label for="psw" class="login_label"><b>密碼</b></label>
        <input type="password" placeholder="請輸入密碼..." name="password" id="password" required>


        <div class="alert alert-danger col-xs-offset-1 col-xs-10" align="center" th:if="${param.error}">
          帳密無效
        </div>

        <div class="alert alert-danger col-xs-offset-1 col-xs-10" align="center" th:if="${param.logout}">
          您已經登出
        </div>


        <button type="submit" class="btn">登入</button>
        <a class="btn" th:href="@{/register}">註冊</a>
        <a th:href="@{/forgotPage}">忘記密碼</a>&nbsp;&nbsp;
        <a th:href="@{/}">回到活動網站</a>

        <!-- <form:form....的標籤spring MVC 自動增加 CSRF token -->
        <!-- 若不是用springMVC需要加上csrf token，否則出現403錯誤 -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
      </form>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/show_message.js}"></script>
  <script type="text/javascript">
    function login1() {
      document.getElementById("username").value = "john95";
      document.getElementById("password").value = "test12";
    }
    function login2() {
      document.getElementById("username").value = "mary12";
      document.getElementById("password").value = "test12";
    }
    function login3() {
        document.getElementById("username").value = "tom887";
        document.getElementById("password").value = "test12";
      }
    function login4() {
      document.getElementById("username").value = "winnie";
      document.getElementById("password").value = "test12";
    }
    function login5() {
      document.getElementById("username").value = "jenny3";
      document.getElementById("password").value = "jenny4";
     }
    function login6() {
      document.getElementById("username").value = "edward";
      document.getElementById("password").value = "1qazxc";
    }
  </script>
</body>

</html>