<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>基分撲蝶會活動網站-註冊</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/register.css}">


	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
	<!-- Spring Security5中默認開啟了CSRF保護，因此提交驗證表單時，必須附帶Token信息 -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<body>


	<div class="container">
		<!--錯誤訊息，及提醒視窗================================================================-->
		<div th:replace="show_message::show_message"></div>

		<div class="col-md-3 col-sm-12"></div>
		<div class="col-md-6 col-sm-12">
			<form th:action="@{/signIn/register_next}" method="post" class="form-horizontal bg-img"
				th:object="${registerDTO}">
				<h1 class="login_title">基分撲蝶會活動網站</h1>
				<h1 class="login_title">註冊</h1>
				<input type="button" name="" onclick="registerTest1()" value="假資料1">
				<input type="button" name="" onclick="registerTest2()" value="假資料2">

				<div class="form-group">

					<label class="control-label col-sm-2" for="email">
						<font color='red'>*</font>&nbsp;帳號:
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="user" id="user" placeholder="輸入你的帳號"
							th:field="*{user.username}" />
					</div>
					<div class="col-sm-12 prompt">
						<p>
							<font color='grey'>(帳號格式：請輸入6碼，必須包含英文或數字)</font>
						</p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="pwd">
						<font color='red'>*</font>&nbsp;密碼:
					</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" name="password" placeholder="輸入你的密碼"
							th:field="*{user.password}">
					</div>
					<div class="col-sm-12 prompt">
						<p>
							<font color='grey'>(密碼格式：請輸入6碼，必須包含英文或數字)</font>
						</p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="pwd">
						<font color='red'>*</font>&nbsp;確認密碼:
					</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="ckeckPwd" name="ckeckPwd" placeholder="再次輸入你的密碼"
							th:field="*{ckeckPwd}">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						<font color='red'>*</font>&nbsp;姓名:
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="username" id="username" placeholder="輸入你的名字"
							th:field="*{member.memName}" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						<font color='red'>*</font>&nbsp;性別:
					</label>
					<div class="col-sm-10">
						<input type="radio" name="gender" id="men" value="M" th:field="*{member.memGen}"
							required>男性&nbsp;&nbsp;
						<input type="radio" name="gender" id="woman" value="W" th:field="*{member.memGen}">女性&nbsp;
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="date">
						<font color='red'>*</font>&nbsp;生日：
					</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" name="birthDate" id="birthDate" th:field="*{birthDate}"
							required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3">
						<font color='red'>*</font>&nbsp;身分證:
					</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="identification_card" id="identificationCard"
							placeholder="輸入你的身分證字號" th:field="*{member.memIdn}" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="phone">
						<font color='red'>*</font>&nbsp;手機號碼:
					</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="phone" id="phone" placeholder="輸入你的手機號碼"
							th:field="*{member.memPhone}" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">
						<font color='red'>*</font>&nbsp;Email:
					</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email" id="email" placeholder="輸入你的Email"
							th:field="*{member.memMail}" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">
						<font color='red'>*</font>&nbsp;地址:
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="address" id="address" placeholder="輸入你的地址"
							th:field="*{member.memAddr}" required />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-1">
						<input type="checkbox" id="inform" name="inform">&nbsp;&nbsp;開啟活動前email通知
					</div>
				</div>


				<div class="form-group ">
					<button type="submit" class="btn btn-success btn-lg btn-block login-button">下一頁</button>
				</div>


			</form>
		</div>
		<div class="col-md-3 col-sm-12"></div>


	</div>

	<script th:src="@{/js/show_message.js}"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var header = $("meta[name='_csrf_header']").attr("content");
		var token = $("meta[name='_csrf']").attr("content");

		function registerTest1() {
			document.getElementById("user").value = "jenny3";
			document.getElementById("password").value = "jenny4";
			document.getElementById("ckeckPwd").value = "jenny4";
			document.getElementById("username").value = "徐加七";
			document.getElementsByName("member.memGen")[1].checked = true;
			document.getElementById("birthDate").value = "1993-03-03";
			document.getElementById("identificationCard").value = "H887339402";
			document.getElementById("phone").value = "0956782453";
			document.getElementById("email").value = "???";
			document.getElementById("address").value = "新北市板橋區縣民大道二段7號6樓";
			document.getElementsByName("inform")[0].checked = true;
		}
		
		function registerTest2() {
			document.getElementById("user").value = "edward";
			document.getElementById("password").value = "1qazxc";
			document.getElementById("ckeckPwd").value = "1qazxc";
			document.getElementById("username").value = "王大同";
			document.getElementsByName("member.memGen")[0].checked = true;
			document.getElementById("birthDate").value = "1990-02-03";
			document.getElementById("identificationCard").value = "A334998573";
			document.getElementById("phone").value = "0976348926";
			document.getElementById("email").value = "???";
			document.getElementById("address").value = "台北市中山區中山北路四段1號";
			/* document.getElementsByName("inform")[0].checked = true; */
		}


		/*]]>*/
	</script>
</body>

</html>