<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>基分撲蝶會活動網站</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="short Icon" type="images/x-icon" th:href="@{/images/ball.png}">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/avt_item.css}">


  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>
</head>

<body>



  <!--導覽列==========================================================================-->

  <div th:replace="header::nav-header"></div>
  <br>
  <!-- 幻燈片=================================================================== -->
  <div th:replace="lightbox::lightbox"></div>

  <!--內容區===================================================================-->
  <div class="container content">
    <!--功能及麵包屑==========================================-->
    <div th:replace="breadcrumb::breadcrumb"></div>
    <!--錯誤訊息，及提醒視窗================================================================-->
    <div th:replace="show_message::show_message"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="avt_title">
          <h2><b>我要報名</b></h2>
          <h5 class="avt_type" th:text="'活動名稱 : '+${applyAllDTO.applyDTO.activity.avtName}"></h5>
        </div>
      </div>
    </div>
    <form method="post" th:action="@{/activity/search/detail/apply/send}" th:object="${applyAllDTO}">
      <div class="avt_detail">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="rep_art" style="padding: 20px">
              <!-- ==============帶入隱藏活動編號=================================== -->
              <input type="hidden" th:field="*{applyDTO.activity.avtNo}" />
              <input type="hidden" th:field="*{applyDTO.joinNumber}" />
              <span th:each="otherData,d: *{applyDTO.otherDatas}">
                  <input type="hidden" th:field="*{applyDTO.otherDatas[__${d.index}__].no}" />
                  <input type="hidden" th:field="*{applyDTO.otherDatas[__${d.index}__].name}" />
                  <input type="hidden" th:field="*{applyDTO.otherDatas[__${d.index}__].data}" />
              </span> 
              
              <input type="button" name="" onclick="applyTest()" value="假資料(3人以下)">
              <div class="row data">               
                <div class="col-md-4 col-sm-12" style="padding-left: 40px" th:each="friend,f: *{friendDTOs}">
                  
                  <span>
			        <h3 th:if="${f.index == 0}"><b>親友資料</b></h3>
			        <h3 th:if="${f.index > 0}"><b>&nbsp;</b></h3>
			      </span>
			      <br>
			      
                  <div id="other_data">
                    <div class="other_man">
                      <label style="color: orangered" class="number" th:text="'第'+${f.index+1}+'位'"></label><br><br>
                      <font color='red'>*</font>姓名:
                      <input type="text" th:field="*{friendDTOs[__${f.index}__].signupAvt.signName}" class="form-control add_join_mem"  size="8"  required/><br><br>
                      <font color='red'>*</font>性別:
                      <input type="radio" value="M" th:field="*{friendDTOs[__${f.index}__].signupAvt.signGen}" required>男性&nbsp;&nbsp;
                      <input type="radio" value="W" th:field="*{friendDTOs[__${f.index}__].signupAvt.signGen}">女性&nbsp;<br><br>
                      <font color='red'>*</font>生日：
                      <input type="date" class="form-control add_join_mem" th:field="*{friendDTOs[__${f.index}__].birthDate}" required /><br><br>
                      <font color='red'>*</font>身分證:
                      <input type="text" class="form-control add_join_mem" max="10" size="15" th:field="*{friendDTOs[__${f.index}__].signupAvt.signIdn}" required /><br><br>
                      <font color='red'>*</font>手機號碼:
                      <input type="text" class="form-control add_join_mem" max="10" size="15" th:field="*{friendDTOs[__${f.index}__].signupAvt.signPhone}" required /><br><br>
                      <font color='red'>*</font>Email:
                      <input type="email" name="email" class="form-control add_join_mem" th:field="*{friendDTOs[__${f.index}__].signupAvt.signMail}" required /><br><br>
                      <font color='red'>*</font>地址:<input type="text" class="form-control add_join_mem"
                        size="40"  th:field="*{friendDTOs[__${f.index}__].signupAvt.signAddr}" required/>
                      <br>
                      <span th:each="oth,o: *{friendDTOs[__${f.index}__].otherDatas}">
                         <p th:text="'*'+${oth.name}+':'"></p>
                         <input type="text" class="form-control "  th:field="*{friendDTOs[__${f.index}__].otherDatas[__${o.index}__].data}" required/>
                         <input type="hidden" th:field="*{friendDTOs[__${f.index}__].otherDatas[__${o.index}__].no}" />
                         <input type="hidden" th:field="*{friendDTOs[__${f.index}__].otherDatas[__${o.index}__].name}" />
                         <br>
                      </span>
                      <br><br>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="text-right">
              <button type="submit" class=" btn btn-danger" data-dismiss="modal">送出報名</button>
            </div>
          </div>
        </div>
      </div>
    </form>


  </div>


  </div>



  <!--底部平台介紹================================================================-->
  <div th:replace="footer::footer"></div>


  <script th:src="@{/js/show_message.js}"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="@{/js/avt-item-apply.js}"></script>
  <script type="text/javascript" >

		function applyTest() {
			/* 第一位 */
			document.getElementById("friendDTOs0.signupAvt.signName").value = "劉曉琦";	
			document.getElementById("friendDTOs0.signupAvt.signGen2").checked = true;
			document.getElementById("friendDTOs0.birthDate").value = "1990-05-07";	
			document.getElementById("friendDTOs0.signupAvt.signIdn").value = "B887335642";	
			document.getElementById("friendDTOs0.signupAvt.signPhone").value = "0933467283";	
			document.getElementById("friendDTOs0.signupAvt.signMail").value = "h9874@gmail.com";	
			document.getElementById("friendDTOs0.signupAvt.signAddr").value = "基隆市仁愛區忠一路";	
			document.getElementById("friendDTOs0.otherDatas0.data").value = "葷";	
			document.getElementById("friendDTOs0.otherDatas1.data").value = "劉起發";	
			document.getElementById("friendDTOs0.otherDatas2.data").value = "0933674929";	
			
			/* 第二位 */
			document.getElementById("friendDTOs1.signupAvt.signName").value = "李小白";	
			document.getElementById("friendDTOs1.signupAvt.signGen1").checked = true;
			document.getElementById("friendDTOs1.birthDate").value = "1978-06-29";	
			document.getElementById("friendDTOs1.signupAvt.signIdn").value = "C998337492";	
			document.getElementById("friendDTOs1.signupAvt.signPhone").value = "0945900383";	
			document.getElementById("friendDTOs1.signupAvt.signMail").value = "apple2434@gmail.com";	
			document.getElementById("friendDTOs1.signupAvt.signAddr").value = "高雄市左營區博愛二路757號";	
			document.getElementById("friendDTOs1.otherDatas0.data").value = "素";	
			document.getElementById("friendDTOs1.otherDatas1.data").value = "王美麗";	
			document.getElementById("friendDTOs1.otherDatas2.data").value = "0915889389";	
			
			/* 第三位 */
			document.getElementById("friendDTOs2.signupAvt.signName").value = "邱蓮芬";	
			document.getElementById("friendDTOs2.signupAvt.signGen2").checked = true;
			document.getElementById("friendDTOs2.birthDate").value = "1988-11-09";	
			document.getElementById("friendDTOs2.signupAvt.signIdn").value = "A887335642";	
			document.getElementById("friendDTOs2.signupAvt.signPhone").value = "0934789236";	
			document.getElementById("friendDTOs2.signupAvt.signMail").value = "tgt9889@gmail.com";	
			document.getElementById("friendDTOs2.signupAvt.signAddr").value = "台北市士林區至善路二段221號";	
			document.getElementById("friendDTOs2.otherDatas0.data").value = "葷";	
			document.getElementById("friendDTOs2.otherDatas1.data").value = "邱傑";	
			document.getElementById("friendDTOs2.otherDatas2.data").value = "0988947893";		
		}

  </script>
</body>

</html>